$white-color: #f9f9f9;
$background-color-main: #141414;
$background-color-content: #1f1f1f;
$input-color: #262626;
$text-color-gray: #686868;
$blue-color: #4f92f7;
$delete-red-color: #e85050;
$play-red-color: #e90516;
$statistic-green-color: #30b94d;
$gray-text-color: #e3e3e380;
$select-color: #3e3e3e;
$refresh-color: #d4d1d1;