.howToUseWrapper {
  padding: 20px;
  border-radius: 12px;
  background-color: $input-color;
}

.howToUseTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: $white-color;
  margin-bottom: 20px;
  @include media($tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}

.howToUseList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  @include media($tablet) {
    margin-bottom: 26px;
  }
  @include media($desktop) {
    gap: 20px;
  }
}

.howToUseListItem {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.howToUseMarker {
  display: block;
  width: 40px;
  height: 40px;
  color: $background-color-content;
  border-radius: 50%;
  background-color: $white-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  @include media($tablet) {
    width: 44px;
    height: 44px;
  }
}

.howToUseText {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: $white-color;
  @include media($mobile) {
    max-width: 203px;
  }
  @include media($desktop) {
    width: 200px;
  }
}

.howToUseSpan {
  color: $text-color-gray;
}

.howToUseLink {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: $text-color-gray;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $white-color;
  }
  &:hover .iconArrow {
    transform: scale(1.05);
  }
}
.iconArrow {
  width: 24px;
  height: 24px;
  stroke: $white-color;
}
