.recommendedBooksContainer {
  padding: 20px;
  background-color: $input-color;
  border-radius: 12px;
  @include media($tablet) {
    width: 313px;
  }
}

.recommendedBooksTitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: $white-color;
  margin-bottom: 14px;
  @include media($tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.recommendedList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-bottom: 11px;
  @include media($tablet) {
    margin-bottom: 14px;
  }
  @include media($desktop) {
  }
}

.recommendedItem {
  width: 71px;
  &:hover .recommendedItemImage {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
  }
}

.recommendedItemImage {
  display: block;
  border-radius: 8px;
  width: 71px;
  height: 107px;
  margin-bottom: 8px;
}

.recommendedItemTitle {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: -0.02em;
  text-align: left;
  color: $white-color;
  margin-bottom: 3px;
  text-transform: capitalize;
}

.recommendedItemAuthor {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.02em;
  text-align: left;
  color: $text-color-gray;
}

.homeLink {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: $text-color-gray;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  @include media($tablet) {
    font-size: 14px;
    line-height: 18px;
  }
  &:hover {
    color: $white-color;
  }
  &:hover .iconArrow {
    transform: scale(1.05);
  }
}

.iconArrow {
  width: 20px;
  height: 20px;
  stroke: $white-color;
  @include media($tablet) {
    font-size: 24px;
    line-height: 24px;
  }
}
