.app {
  margin: 0 auto;
  min-width: 320px;
  max-width: 375px;
  padding: 20px;
  @include media($mobile) {
    width: 100%;
  }

  @include media($tablet) {
    width: 704px;
    padding: 32px;
    max-width: none;
  }

  @include media($desktop) {
    width: 1216px;
    padding: 10px;
  }
}
